<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular Part 01</title>
</head>
<body ng-app="App">

  <header>
    <h1>Clase 03 - intro Angular</h1>
  </header>

  <div ng-controller="NombreControlador as ctrl">
    <input type="number" ng-model="ctrl.time">
    <button ng-click="ctrl.start()">Start</button>
    <h2>{{ ctrl.time }}</h2>
  </div>

  <script src="bundle.js"></script>
</body>
</html>
